<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aktualizacja danych</title>
    <style>
        .center {
            text-align: center;
            width: 100vw;
        }
    </style>
</head>
<body>
    <h3 class="center">Aktualizacja danych</h3>
  <form method="post" action="/aktualizuj/<%= pracownik._id ;%>">
      <p class="center">Imie: <input type="text" name="im" value="<%= pracownik.imie ;%>" /> </p>
      <p class="center">Nazwisko: <input type="text" name="naz" value="<%= pracownik.nazwisko ;%>" /> </p>
      <p class="center">Stanowisko: <input type="text" name="st" value="<%= pracownik.stanowisko ;%>" /> </p>
    <button class="center">Aktualizuj</button>
  </form>

</body>
</html>